body {
    max-width: 100%;
    background-color: var(--background-color);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    max-width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --container-color:rgb(2,150,16,0.2);
    --container-color-Tech-Fox:rgb(2,150,16,0.1);
    --containet-color-Video:rgb(255,240,222, 0.7); 
    --header-color:rgb(255,240,222);
    --header-color-Border: rgb(192,164,134);
    --header-color-Font:rgba(0, 182, 18, 0.61);
    --footer-color:rgb(0, 0, 0);
    --font-color-Login-Register:rgb(255, 255, 255);
    --font-color-Content-Main:rgb(255, 255, 255);
    --font-color-Button-Content-Main: rgb(192, 166, 135);
    --font-color-Content-Team:black;
    --font-shadow-color-Content-Team:white;
    --background-color: rgba(192, 164, 134, 0.144);
    --footer-color-Img:rgba(255, 240, 222);
    --footer-color-A:rgba(0, 182, 18, 0.61);
    --footer-shadow-color-A:rgba(0, 106, 11, 0.61);
    --randow-color:rgb(2, 150, 17); ;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    background-color:var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom:0.3rem solid var(--header-color-Border);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    z-index: 2;
  }
  
.header-Image img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 6rem;
    height: 5rem;
    margin-left: -24.35rem;
}
  
header .home-Content {
    display: flex;
    justify-content: center;
}
  
.home-Content ul {
    margin-left: -28rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
.home-Content li {
    list-style: none;
    padding: 0.8rem;
}
  
.home-Content a {
    text-decoration: none;
    color: var(--header-color-Font);
    text-shadow: 0.01rem 0.01rem 0.01rem rgb(0, 0, 0);
    transition: border-radius ,text-shadow ,color ,background-color ,border-bottom, border-right 0.02s ease;
}
  
.home-Content a:hover {
    background-color: var(--footer-color-A);
    color: white;
    text-shadow: 0.01rem 0.01rem 0.01rem rgb(0, 0, 0);
    border-radius: 0.8rem;
    border-bottom: 0.2rem solid var(--footer-shadow-color-A);
    border-right: 0.2rem solid var(--footer-shadow-color-A);
}

#content {
    display: flex;
    justify-content: center;
}

.container-Content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    width: 50rem;
    height: 30rem;
    background-color: var(--container-color-Tech-Fox);
    border-radius: 2rem;
    border-bottom: 1rem solid var(--container-color);
    border-right: 1rem solid var(--container-color);;
    transform-style: preserve-3d;
    transition: transform 1s, 3s transform;
}

.highlighted {    
    transform: rotatez(2deg) rotateX(20deg);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: rotatez(2deg) rotateX(20deg);
    }

    50%{
        transform: rotatez(-2deg) rotateX(-20deg);
    }

    100%{
        transform: rotatez(2deg) rotateX(20deg);
    }
}

.organization-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.organization-Content h1 {
    font-size: 1.8rem;
}

.organization-Content p {
    max-width: 40rem;
    font-size: 1.5rem;
}

footer {
    display: flex;
    width: 100%;
    background-color: var(--footer-color);
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1;
}

.footer-Content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 12rem;
}

footer img {
    display: flex;
    align-items: center;
    width: 8rem;
    height: 5.5rem;
    border-radius: 1rem;
}

footer ul {
    list-style: none;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: start;

}

footer ul h2 {
    font-size: 0.8rem;
    border-bottom: 0.1rem solid white;
}

.container-Footer {
    width: 8.5rem;
    height: 5.5rem;
    background-color: var(--footer-color-Img);
    border-radius: 1rem;
    border: 0.7rem double var(--container-color);
}

footer ul li {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    color: var(--footer-color-Img);
}

footer a:hover {
    background-color: var(--footer-color-A);
    border-radius: 0.02rem;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
    
    header {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
      
    .header-Image {
        margin-left:25rem;
        margin-right: 1rem;
    }
      
    .home-Content ul {
        margin-left: -25rem;
        font-size: 0.8rem;
    } 
      
    .home-Content li {
        padding: 0.3rem;
    }

    #content {
        display: flex;
        justify-content: center;
    }

    .container-Content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem;
        height: 20rem;
        background-color: var(--container-color-Tech-Fox);
        border-radius: 2rem;
        border-bottom: 1rem solid var(--container-color);
        border-right: 1rem solid var(--container-color);;
        transform-style: preserve-3d;
        transition: transform 1s, 3s transform;
    }

    .organization-Content h1 {
        font-size: 1rem;
        width: 20rem;
    }
    
    .organization-Content p {
        width: 20rem;
        font-size: 1rem;
    }
    

    footer {
        width: 100%;
        bottom: 0;
    }
      
    footer img {
        width: 5rem;
        height: 3rem;
    }
      
    .container-Footer {
        width: 5rem;
        height: 3rem;
    }
      
    footer ul li {
        font-size: 0.5rem;
    }
      
    footer ul h2 {
        font-size: 0.5rem;
    }
      
    .footer-Content {
        gap:0.7rem
    }
}